body {
    font-family: Arial, sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.navbar {
    background-color: #343a40;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative; 
    top: 0;
    left: 0;
    width: 100%;
}
.navbar-brand, .nav-link {
    color: #fff; 
    text-decoration: none; 
}
.hero-section {
    margin: 0;
    padding: 0;
    background-image: url("../pictures/MainPage.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.product-card img {
    height: 200px;
    width: 100%; 
    object-fit: cover; 
    border-radius: 8px; 
}

.product-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 1rem; 
    transition: transform 0.2s ease; 
}

.product-card:hover {
    transform: scale(1.05); 
}
.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
